{% extends "base-two-col.html" %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- <script src="{{ url_for('static', filename='js/media-controls.js') }}"></script> -->

<script>

async function updateSongInfoIfChanged(changed, data) {
  if (changed) {
    try {
   
      // Update artwork
      document.getElementById('now-playing-artwork').src = data.album_art;

      // Update title and artist
      document.getElementById('media-title').textContent = data.title;
      document.getElementById('media-artist').textContent = data.artist;

      // Maintain proper state for repeat icon
      const repeatIcon = document.getElementById("repeat-icon");
      const repeatIconMap = {
          "repeat_none": "/static/icons/controls/repeat-off.png",
          "repeat_all": "/static/icons/controls/repeat-all.png",
          "repeat_one": "/static/icons/controls/repeat-one-on.png"
      };
      repeatIcon.src = repeatIconMap[data.repeat_mode];

      // Maintain proper state for shuffle icon
      const shuffleIcon = document.getElementById("shuffle-icon");
      const shuffleIconMap = {
        "shuffle_on": "/static/icons/controls/shuffle-on.png",
        "shuffle_off": "/static/icons/controls/shuffle-off.png"
      };
      shuffleIcon.src = shuffleIconMap[data.shuffle_mode];
      
      window.location.reload(); // reloads current page
    } catch (e) {
      console.error('Failed to update song info:', e);
    }
  }
}

let previousArtist = localStorage.getItem('previousArtist') || null;
let previousTitle = localStorage.getItem('previousTitle') || null;
let updateTimeout = null;
const DEBOUNCE_DELAY = 0;

async function updateMediaTimer() {
  try {
    const response = await fetch('/timer', { method: 'POST' });
    const data = await response.json();

    const { artist, title, album_art, elapsed_time, remaining_time, elapsed_seconds, remaining_seconds,  duration_seconds , is_playing, shuffle_mode, repeat_mode} = data;
    const pixel_proportion = 450 * elapsed_seconds / duration_seconds;

    // Maintain proper status of play/pause icon in UI
    const play_pause_icon = document.getElementById("play-pause-icon");
    const isPlaying = data.is_playing === true;
    play_pause_icon.dataset.playing = isPlaying.toString();
    play_pause_icon.src = isPlaying
      ? "/static/icons/controls/pause.png"
      : "/static/icons/controls/play.png";


    // Update time display
    document.getElementById("media-time-elapsed").textContent = elapsed_time;
    document.getElementById("media-time-remaining").textContent = remaining_time;

    // Update seek bar width
    const seekbar = document.getElementById("seekbar");
    if (seekbar) {
      seekbar.style.width = `${pixel_proportion}px`;
    }

    // Update title/artist and artwork only if song has changed 
    const songChanged = (artist !== previousArtist) || (title !== previousTitle);
    
    // If song changed, refresh content in now playing view 
    if (songChanged) {
      if (updateTimeout) {
        clearTimeout(updateTimeout);
      }
      updateTimeout = setTimeout(async () => {
        previousArtist = artist;
        previousTitle = title;
        // Save new song info in localStorage
        localStorage.setItem('previousArtist', artist);
        localStorage.setItem('previousTitle', title);
        await updateSongInfoIfChanged(true, data);
      }, DEBOUNCE_DELAY);
    }
  } catch (error) {
    console.error("Failed to update media timer:", error);
  }
}

// Run every second
setInterval(updateMediaTimer, 1000);

const post = (endpoint) => fetch(endpoint, { method: "POST" });

const rewind = () => post("/rewind");

const fastForward = () => post("/fast-forward");

function playOrPause() {
  fetch("/play", { method: "POST" })
    .then(response => response.json())
    .then(data => {
      const icon = document.getElementById("play-pause-icon");
      const isPlaying = data.is_playing === true;
      icon.dataset.playing = isPlaying.toString();
      icon.src = isPlaying
        ? "/static/icons/controls/pause.png"
        : "/static/icons/controls/play.png";
    })
    .catch(error => {
      console.error("Error toggling play/pause:", error);
    });
}

function changeRepeatMode() {
    fetch("/change-repeat", { method: "POST" })
        .then(response => response.json())
        .then(data => {
            const mode = data.new_mode;  // e.g. "repeat_all"
            const repeatIcon = document.getElementById("repeat-icon");
            const iconMap = {
                "repeat_none": "/static/icons/controls/repeat-off.png",
                "repeat_all": "/static/icons/controls/repeat-all.png",
                "repeat_one": "/static/icons/controls/repeat-one-on.png"
            };
            repeatIcon.src = iconMap[mode];
        })
        .catch(error => {
            console.error("Error updating repeat mode:", error);
        });
}

function toggleShuffle() {
  fetch("/shuffle", { method: "POST" })
    .then(response => response.json())
    .then(data => {
        const mode = data.new_mode; 
        const shuffleIcon = document.getElementById("shuffle-icon");
        const iconMap = {
          "shuffle_on": "/static/icons/controls/shuffle-on.png",
          "shuffle_off": "/static/icons/controls/shuffle-off.png"
        };
        shuffleIcon.src = iconMap[mode];
    })
    .catch(error => {
        console.error("Error updating shuffle mode:", error);
    });
}


document.addEventListener("DOMContentLoaded", () => {
  const repeatIcon = document.getElementById("repeat-icon");
  const mode = "{{ repeat_mode }}";
  const iconMap = {
    "repeat_none": "/static/icons/controls/repeat-off.png",
    "repeat_all": "/static/icons/controls/repeat-all.png",
    "repeat_one": "/static/icons/controls/repeat-one-on.png"
  };
  if (repeatIcon && mode in iconMap) {
    repeatIcon.src = iconMap[mode];
  }
});


document.addEventListener("DOMContentLoaded", () => {
  const playPauseIcon = document.getElementById("play-pause-icon");
  const isPlaying = playPauseIcon?.dataset?.playing === "true";
  playPauseIcon.src = isPlaying
    ? "/static/icons/controls/pause.png"
    : "/static/icons/controls/play.png";
});

document.addEventListener("DOMContentLoaded", () => {
  const shuffleIcon = document.getElementById("shuffle-icon");
  const isShuffling = shuffleIcon?.dataset?.shuffling === "true";
  shuffleIcon.src = isShuffling
    ? "/static/icons/controls/shuffle-on.png"
    : "/static/icons/controls/shuffle-off.png";
});

</script>
{% endblock %}


{% block title_content %}
<h1 class="top-big-title"><a href="/nowplaying">(music) elizabethchen@Elizabeths-MacBook-Pro now_playing %</a></h1>
{% endblock %}

{% block main_content %}
<div class="now-playing-card">
    <img class="card-img-top d-block" id="now-playing-artwork" src="{{ player_content.img_src }}">
    <div class="media-info-container">
        <a href="{{ song_link_dest }}" class="player-title" id="media-title"><b>{{ now_playing.title }}</b></a>
        <br>
        <a href="{{ artist_link_dest }}" class="player-subtitle" id="media-artist">{{ now_playing.artist }}</a>
    </div>
    <div class="progress-container">
        <div class="table-responsive-time-text">
            <table class="progress-time-text">
                <thead>
                    <tr>
                        <td colspan="2">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" id="seekbar" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="media-time-text-container">
                            <p id="media-time-elapsed" style="font-size: 1.8vw; text-align: left; margin-right: 5%;">
                            </p>
                        </td>
                        <td class="media-time-text-container">
                            <p id="media-time-remaining" style="font-size: 1.8vw; text-align: right; margin-right: 8%;">
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="controls">
        <button class="media-button" onclick="toggleShuffle()">
            <img
                class="media-button-img"
                id="shuffle-icon"
                data-shuffling="{{ 'true' if now_playing.shuffle_mode else 'false' }}"
                src="{{ url_for('static', filename='icons/controls/shuffle-on.png' if now_playing.shuffle_mode else 'icons/controls/shuffle-off.png') }}"  
            />
        </button>
        <button class="media-button" onclick="rewind()">
            <img class="media-button-img" id="rewind"
                src="{{ url_for('static', filename='icons/controls/rewind.png') }}">
        </button>
        <button class="media-button" onclick="playOrPause()">
            <img
                class="media-button-img"
                id="play-pause-icon"
                data-playing="{{ 'true' if now_playing.is_playing else 'false' }}"
                src="{{ url_for('static', filename='icons/controls/play.png') }}"
                alt="play/pause"
            >
        </button>
        <button class="media-button"  onclick="fastForward()">
            <img class="media-button-img" id="fast-forward"
                src="{{ url_for('static', filename='icons/controls/fast-forward.png') }}">
        </button>
        <button class="media-button" onclick="changeRepeatMode()">
            <img
                class="media-button-img"
                id="repeat-icon"
                data-repeat-mode="{{ repeat_mode }}"
                src="{{ url_for('static', filename='icons/controls/repeat-all.png') }}"
                alt="repeat"
            >
        </button>
    </div>
</div>
{% endblock %}