{% extends "base-two-col.html" %}

{% block title_content %}
<h1 class="top-big-title"><a href="/songs">(music) elizabethchen@Elizabeths-MacBook-Pro all_songs %</a></h1>
{% endblock %}

{% block main_content %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td class="song-entry-field display-6" style="text-align: left; width: 7%;"><b>play</b></td>
                <td class="song-entry-field display-6" style="text-align: left; width: 30%;"><b>title</b></td>
                <td class="song-entry-field display-6" style="text-align: left; width: 18%;"><b>artist</b></td>
                <td class="song-entry-field display-6" style="text-align: right; width: 18%;"><b>album</b></td>
                <td class="song-entry-field display-6" style="text-align: right; width: 9%;"><b>duration</b></td>
                <td class="song-entry-field display-6" style="text-align: right; width: 9%;"><b>plays</b></td>
                <td class="song-entry-field display-6" style="text-align: right; width: 9%"><b>loved</b></td>
            </tr>
        </thead>
        <tbody>
            {% for song in content %}
            <tr>
                <td class="song-entry-field display-6" style="text-align: left; width: 7%">
                    <img src="{{ url_for('static', filename='icons/controls/play.png') }}" style="height:1.25rem; display: inline;" id="play-pause-icon">
                </td>
                <td class="song-entry-field display-6" style="text-align: left; width: 30%;">{{ song.title }}</td>
                <td class="song-entry-field display-6" style="text-align: left; width: 18%;">{{ song.artist }}</td>
                <td class="song-entry-field display-6" style="text-align: right; width: 18%">{{ song.album }}</td>
                <td class="song-entry-field display-6" style="text-align: right; width: 9%;">{{ song.duration }}</td>
                <td class="song-entry-field display-6" style="text-align: right; width: 9%;">{{ song.num_plays }}</td>
                {% if song.is_favorited == true %} 
                <td class="song-entry-field display-6 loved-icon" style="text-align: right; width: 9%"> <b style="font-size:1.5rem">♥</b></td>
                {% else %}
                <td class="song-entry-field display-6 loved-icon" style="text-align: right; width: 9%"><b style="font-size:1.5rem">♡</b></td> 
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}